<!DOCTYPE html>
<html>
  <head>
    <title>Word Count</title>
    <link href='~/wwwroot/css/bootstrap.css' rel='stylesheet'>
  </head>
  <body class="container">
    <p>Word count results:</p>
    <p>Input check: @Model["Message"]</p>
    <p>Count Result: @Model["Result"]</p>
    <br>
    <a href="/">Back to homepage.</a><br>
    <a href="/wordcounter">Reset</a>
  </body>
</html>