<!DOCTYPE html>
<html>
  <head>
    <title>Word Count</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
  <div class="container">
    <div class="panel panel-success">
      <div class="panel-body" id="wordResult">
        <p>Your word count results are here!</p>
        <p>Your count of word is: @Model["Result"]</p>
        <br>
        <a href="/">Back to homepage.</a><br>
        <a href="/wordcounter">Reset</a>
      </div>
    </div>
    </div>
  </body>
</html>