<!DOCTYPE html>
<html>
  <head>
    <title>Word count</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />

  </head>
  <body class="container">
    <h1>Word Counter</h1><br>
    <p>If you have trouble counting the number of times a word appears in a sentence, you can type it in here instead.</p>
    <a href='/wordcounter/'>Click here to use the program.</a>
  </body>
</html>
